DATABASE_URL="postgresql://root:root@pricing-db:5432/pricing?schema=public"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzFSNxZfYWXn8lcuUU6rL\nZx1lNOfeUiJarUXZTChNHJIn91JlfHpHut5kDRlRhH5FF/b5zrhme8ucM+y+mu3E\nWbyxsXaniq10xKV4QIbWII2htB6ACZH+P29DPu4hDKMlBC+ESYu7bNMV0UqWmqGu\nhvzG7TGkufu5NK8A4bQuBtMplqO9a+Ha5Z1w6XBsGYqICrbJZMQfUxjIo05qqj/G\nl9a+0Pl8mTxRsITjqJr3iVJFjXxDI6CtvINsZHN8cXGXMFfU26GCEzGOQB7vJvNU\n2/zNrRNJnHtSYEGVf0Jg5bUEkSrAvJ5t5q3tN9mAgwIaUMXMPjXCJXm+YxwVOA1m\n7QIDAQAB\n-----END PUBLIC KEY-----"